{{ define "title" }}Dashboard{{ end }}

{{ define "content" }}

<div class='container'>
<h1>Dyslexic Studeos Character Sheets Translator</h1>

<div class='row'>



<div class='col-sm-4'>

{{ template "slack" . }}

{{ template "forum" . }}

{{ template "github" . }}

{{ template "completion" . }}

<hr>

{{ template "issues-translator" . }}

</div>



<div class='col-sm-4'>

{{ template "me" . }}

{{ template "summary" . }}

{{ template "activity" . }}

{{/* template "help" . */}}

{{/* template "recent" . */}}

<hr>

{{ template "issues-website" . }}

</div>



<div class='col-sm-4'>

{{ template "issues-main" . }}

</div>



</div>{{/* row */}}

</div>{{/* container */}}
{{ end }}